/* COLOR : #19CCA0 */

html {
    scroll-behavior: smooth;
    font-family: montserrat, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

/* ACCUEIL */
header {
    background-color: white;
    height: 10vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header h2 {
    margin: 0 20px;
    font-weight: 600;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
header ul li a {
    text-decoration: none;
    margin: 0 15px;
    color: rgb(0, 0, 0, .6);
    font-weight: normal;
}
header .last_li {
    margin-right: 40px;
}

/* ACCUEIL */

#accueil {
    height: 89.5vh;
    background-image: url("img/main1_bg.jpg");
    background-size: cover;
    background-position: right;
    border-bottom: .5vh solid #19CCA0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#accueil .accueil_txt h1 {
    display: inline;
    margin: 0;
    font-size: 55px;
    padding-right: 10px;
    box-shadow: inset 0 -27px rgba(25, 204, 160, .6);
}
#accueil .accueil_txt {
    margin-left: 100px;
}
#accueil .accueil_txt h2 {
    margin: 10px 0;
    font-size: 23px;
}

/* A PROPOS */

#a_propos {

}

#a_propos img {
    width: 100%;
}
#a_propos .a_propos_txt h2 {

}
